* {
  margin: 0;
  padding: 0;
}
/* #f4d145*/
:root {
  --Color-principal: #f4d145;
  --Color-secundario: white;
  --Color-terciario: black;
}
head {
  font-size: 1px;
}
body {
  background-image: url(fondo.png);
  background-repeat: repeat;
  background-size: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  font-size: 1.5vw;
  overflow: hidden;
}

#hatchingSoon {
  height: 30vw;
}
#Egg {
  height: 30vw;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0vh;
}
a {
  text-decoration: none;
}

a:link {
  color: var(--Color-principal);
}

a:visited {
  color: var(--Color-principal);
}

a:hover {
  color: var(--Color-principal);
}

a:active {
  color: var(--Color-principal);
}

@media (orientation: landscape) {
  i {
    font-size: 5vw;
  }
  nav {
    width: 20vw;
    height: 10vw;
  }
}

@media (orientation: portrait) {
  i {
    font-size: 8vw;
  }
  nav {
    left: 60vw;
    width: 40vw;
    height: 10vh;
  }
}
